<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>AUTORES</title>
</head>
<body style="background-color: lightgray;">
    <nav class="navbar bg-dark mb-4">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 text-light">Coding Dojo</span>
            <a class=" btn btn-warning" href="/">INICIO</a>
        </div>
    </nav>
    <div class = "container ">
        <div class="d-flex flex-wrap justify-content-around">
            <form action="/create/author" method="post" class="col-6 p-3 bg-dark text-light">
                <h2 class="text-center text-light">NUEVO AUTOR</h2>
                <div class="form-group">
                    <label for="name">NOMBRE:</label>
                    <input type="text" name="name" class="form-control" required>
                </div>
                <input type="submit" value="AÑADIR AUTOR" class="btn btn-outline-warning">
            </form>
            <div class="card col-6 bg-dark">
                <div class="card-body">
                    <h2 class="card-title text-light">TODOS LOS AUTORES</h2>
                    {% for one_author in all_authors %}
                        <a class=" btn btn-outline-warning text-light" href="/author/{{one_author.id}}">{{one_author.name}}</a>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-warning" href="/books">AÑADIR LIBRO</a>
                </div>
            </div>
        </div>
    </div>        
</body>
</html>