<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>VER LIBRO</title>
</head>
<body style="background-color: lightgray;">
    <nav class="navbar bg-dark mb-4">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 text-light">Coding Dojo</span>
            <a class=" btn btn-warning" href="/">INICIO</a>
        </div>
    </nav>
    <div class="d-flex justify-content-around flex-wrap">
        <div class="col-6">
            <h2 class="text-center text-info">Tutulo: {{book.title}}</h2>
            <h2>Le ha dado a favorito:</h2>
            {% for author in book.authors_who_favorited %}
            <h3>{{author.name}}</h3>
            {% endfor %}
        </div>
        <form action="/join/author" method="post" class="col-6">
            <h2 class="text-center text-info">Añadir libro a favoritos</h2>
            <input type="hidden" name="book_id" value="{{book.id}}">
            <div class="form-group">
                <label for="author_id">Libro:</label>
                <select name="author_id" class="form-control" >
                    {% for author in unfavorited_authors %}
                        <option value="{{author.id}}">{{author.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Añadir libro" class="btn btn-primary">
        </form>
    </div>
</body>
</html>